body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border: none;
    background-color: #607D8B;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

.board {
    width: 300px;
    margin: auto;
}

h3 {
    text-align: center;
}

.board .row {
    display: flex;
}

div.cell {
    border-color: #607d8b;
    border-style: solid;
    border-width: 0px;
}

.cell[data-row="1"][data-column="1"] {
    border-width: 2px;
}

.cell[data-row="0"][data-column="1"] {
    border-width: 0px 2px;
}

.cell[data-row="1"][data-column="0"] {
    border-width: 2px 0px;
}

.cell[data-row="1"][data-column="2"] {
    border-width: 2px 0px;
}

.cell[data-row="2"][data-column="1"] {
    border-width: 0px 2px;
}

.board .row div {
    height: 100px;
    width: 100px;
}

.material-symbols-outlined {
    font-size: 90px !important;
}

.game-controls {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.dialog-container {
    display: flex;
    flex-direction: column;
}

#is-marked-warning {
    display: none;
    width: 300px;
    margin: 20px auto;
    border: 2px solid orange;
}